{% extends 'base.html.twig' %}

{% block title %}Détail de l'évènement{% endblock %}

{% block body %}
    <h1>Détail de l'évènement sélectionné</h1>
<p>
    Nom de l'évènement : {{nameEvent}} <br> 
    Adresse de l'évènement : {{event.fullAdressEvent}} <br> 
    Information complémentaire sur l'évènement : {{event.descriptionEvent}}
</p>
    

{% endblock %}