{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<header>
    <figure>
        <img src="{{ asset('img/friendsAroundTable.jpg')}}" alt="Amis jouant autour d'une table">
    </figure> 
</header>
<main>
    
    <h1>Les lieux</h1>
    <figure>
        <img src="{{ asset('img/lartichaut.jpeg')}}" alt="Image façade café L'artichaut">
    </figure> 

    <figure>
        <img src="{{ asset('img/philibar.jpg')}}" alt="Image façade café Philibar">
    </figure> 
  
    <figure>
        <img src="{{ asset('img/wxyz.jpg')}}" alt="Image façade café Wxyz">
    </figure>
    
</main>
<footer>

</footer>
{% endblock %}
