{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<header>
    <figure>
        <img src="{{ asset('img/homePage.jpg')}}" alt="Amis jouant autour d'une table">
    </figure> 
</header>
<main>

</main>
<footer>

</footer>
{% endblock %}
