/* ALL */
@media (min-width: 768px) {
    body {
      color: rgb(78, 32, 207);
    }
  } 
 
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@100;400;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins' , sans-serif;
}

/* body{
  background-color: white;
} */

/* header{
  width: 100%;
  height: 50vh;
} */

/* HEADER  */

.header figure.logo {
  display: flex;
  float: left;
  font-size: 2em;
  padding: 1px 2px;
  text-decoration: none;
}
.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
} 

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
#title {
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#title figure{
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#title figure img{
  width: 250%;
  height: 250%;
  object-fit: cover;
}
nav {
  width: 100%;
  display: flex;
  flex-direction: column;
}
nav ul {
  width: 100%;
}
nav ul li{
  list-style: none;
}
nav ul li a{
  color: #07195f;
  transition: .6s;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover{
  background-color: white;
  color: #07195f;
}  
    
img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

h1{
	text-shadow: 2px 4px 3px rgba(8, 8, 8, 0.3);
  text-align: center;
  
}

h3{
  
}

p{
  background-color:rgb(221, 220, 220);
  padding:10px;
  border-radius: 8px;
  width: 500px;
  text-align: center;
  margin-left: 33%;

}

.btn{
    background-color: #4091e7; 
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: left;    
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 8px;
    margin-top: 15px;

}

form {
  background-color:rgb(221, 220, 220);
  padding:10px;
  border-radius: 8px;
  width: 500px;
  text-align: center;
  margin-left: 33%;
}


label {
  margin-top:10px;
  display:inline-block;
}

input, textarea, select {
  background-color: white;
  padding:3px;
  border:1px solid #b2c1df;
  border-radius:5px;
  width:200px;
  box-shadow:1px 1px 2px #C0C0C0 inset;  
  margin-top:10px;
  margin-left: 5px;
}




