{% extends 'base.html.twig' %}

{% block title %}Hello LanguageController!{% endblock %}

{% block body %}
    <h1>Les langues</h1>

    {% for language in languages %}
        {{language.nameLanguage}} <br>
        
    {% endfor %}

{% endblock %}
