{% extends 'base.html.twig' %}

{% block title %}Détail de la langue{% endblock %}

{% block body %}
    <h1>Détail de la langue sélectionnée</h1>
    <p>
        {{ language }}<br> 
    </p>


{% endblock %}