{% extends 'base.html.twig' %}

{% block title %}Détail du lieu{% endblock %}

{% block body %}
    <h1>Détail du lieu sélectionné</h1>
<p>
    Nom du lieu : {{place.namePlace}} <br> 
    Adresse du lieu : {{place.fullAdressPlace}} <br> 
    Information complémentaire sur le lieu : {{place.descriptionPlace}}
</p>
    

{% endblock %}